<?xml version="1.0"?>

<launch>

    <param name="initial_pose_x" type="double" value="0"/>
    <param name="initial_pose_y" type="double" value="0"/>
    <param name="initial_pose_a" type="double" value="0"/>

    <!-- Communication with bots -->
    <include file="$(find local_sensing_intest)/launch/tcp.launch"/>

    <!--     Transorms -->
    <include file="$(find local_sensing_intest)/launch/transforms.launch"/>

</launch>
