<?xml version="1.0"?>

<launch>

    <!--     Set initial pose using AprilTags -->
    <node name="set_initial_pose" pkg="local_sensing_intest" type="initial_pose_from_apriltags.py" required="true"/>

    <!-- Rosbag play (Here the node reading the recorded data from simulation should start)-->
    <!--    <node pkg="rosbag" type="play" name="player" output="screen" args="&#45;&#45;clock $(env bag_file) -r 1"/>-->
    <!--<node pkg="rosbag" type="play" name="player" args="--><!--clock $(env bag_file)"/>-->

</launch>