<?xml version="1.0"?>

<launch>

    <!--     Set initial pose using AprilTags -->
    <node name="set_initial_pose" pkg="local_sensing_intest" type="initial_pose_from_apriltags.py" required="true"/>

    <arg name="num_of_bots" default="12"/>

    <rosparam command="load" file="$(find local_sensing_intest)/config/config.yml" />

    <!-- Map server -->
    <arg name="map_file" default="$(find local_sensing_intest)/map/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
    <node name="map_point_cloud" pkg="local_sensing_intest" type="grid_to_pointcloud2.py" output="screen"/>

</launch>